@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/********** Corps **********/
body
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

header
{
    padding: 0px 30px;
}

section
{
    padding: 10px 30px;
}

footer
{
    padding-top: 30px;
}




/********** Commun **********/
h1
{
    font-weight: bolder;
    font-size: 20px;
}

h2
{
    font-weight: bolder;
    font-size: 15px;
    height: 50px;
    line-height: 25px;
}

p
{
    font-size: 12px;
}

span
{
    font-weight: bolder;
}

a
{
    color: black;
    text-decoration: none;
}

a:visited
{
    color: black;
    text-decoration: none;
}

.texte_line
{
    margin: 10px 8px;
}


/********** section 1 **********/

.header_container
{
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.shortcuts_container
{
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shortcuts_line
{   
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    border-top: 3px solid #F2F2F2;
}

.shortcuts_line:hover
{
    border-top: #0065FC 3px solid;
}


.logo_line
{
    height: 50px;
}

/********** section 2 **********/

.search_body
{
    display: flex;
    flex-direction: column;
}

.center
{
    padding-top: 10px;
    padding-bottom: 20px;
}


.location_container
{
    display: flex;
    font-weight: bolder;
    border: 1px solid #F2F2F2;
    width: 400px;
    border-radius: 15px;
}

.location_line
{
    background-color: #F2F2F2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_line
{
    border: none;
    width: 250px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.location_block
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: #0065FC;    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.bouton_line
{
    background-color: #0065FC;
    border: none;
    color: white;
    cursor: pointer;
}

.fa-magnifying-glass
{
    color: white;
    visibility: hidden;
    cursor: pointer;
}

.filter_body
{    
    display: flex;
    font-weight: bolder;
    flex-wrap: wrap;
    padding-top: 10px;
}

.filter_container
{
    display: flex;
    align-items: center;
    padding: 5px;
}

.filter_line
{
    border: 2px solid #F2F2F2 ;
    border-radius: 30px;
    display: flex;
    margin: 10px 10px 10px 0px;
}
.filter_line:hover
{
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px;
}
.filter_icone
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #DEEBFF;
}

.icone_line
{
    color: #0065FC;
    padding: 15px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_logo
{
    color: #0065FC;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
}

.info_line
{
    padding-left: 5px;
}

/********** section 3 **********/

.proposal_body
{
    display: flex;
    justify-content: space-between;
}

/***** Hebergement *****/

.lodging_container
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    margin-right: 10px;
}

.lodging
{
    padding: 20px 30px;
}

.more_line
{
    padding: 20px 30px;
}

.miniature_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.miniature_block
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    width: calc(33.33333% - 30px);
    margin: 5px;
    box-shadow: 0px 1px 3px 0px;
}

.image_lodging_block
{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.image_lodging_line
{
    width: 100%;
    max-height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


.star_block
{
    display: flex;
    margin: 10px 8px;
}
.fa-star
{
    color: #0065FC;
    font-size: 15px;
}
.grey-star
{
    color: grey;
    font-size: 15px; 
}
    


/***** populaire *****/

.popular_container
{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 35%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular_block
{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px 30px;
}

.fa-chart-line
{
    font-size: 18px;
}

.popular_lodging_container
{
    background-color: white;
    border-radius: 20px;
    height: 150px;
    width: 90%;
    margin: 10px 0px;
    display: flex;    
    box-shadow: 0px 1px 3px 0px;
}

.popular_lodging_block
{
    display: flex;
    border-radius: 20px ;
}

.image_popular_block 
{   
    width: 33%;
    margin: 5px;
}

.image_popular_line
{
    height: 100%;
    width: 100%; 
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}


.description_popular_block 
{
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/********** section 4 **********/

.activity
{
    display: flex;
    flex-direction: column;
}

.activity_container
{
    display: flex;
    margin-top: 20px;
}

.activity_structure
{
    width: 25%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alone_activity_block
{
    height: 100%;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 20px;
}

.activity_block
{
    height: 55%;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 20px;
    margin: 0px 10px;
}

.activity_block_2
{
    height: 35%;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 20px;    
    margin: 0px 10px;
}

.alone_activity_article
{
    height: calc(100% - 50px);
}

.duo_activity_article_1
{
    height: calc(100% - 50px);
}

.duo_activity_article_2
{
    height: calc(100% - 50px);
}

.activity_image_line
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}


/********** Footer **********/

.footer_container
{
    display: flex;
    background-color: #F2F2F2;
    margin-top: 20px;
}

.footer_block
{
    flex: 1;
    padding: 0px 30px;
}

.footer_texte_line
{
    font-size: 12px;
    margin: 10px 0px;
}